Massachusetts_CT.json filter=lfs diff=lfs merge=lfs -text
Oregon_CT.json filter=lfs diff=lfs merge=lfs -text
Texas_CT.json filter=lfs diff=lfs merge=lfs -text
Florida_CT.json filter=lfs diff=lfs merge=lfs -text
